body {
  padding: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: url("../assets/skies.jpeg") no-repeat center center fixed;
  background-size: cover;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}

a {
  color: #00B7FF;
  font-weight: 500;
  font-size: 1.2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(226, 239, 240, 0.776);
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Staatliches', cursive;
  color: rgb(16, 16, 55);
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

