.flight-info {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0em 20em 0em 20em;
  padding: 1.5em 0.1em 1.5em 1.5em;
  background-color: rgba(240, 248, 255, 0.438);
  text-align: left;
  border-radius: 10px;
}

.current-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  background-color: rgba(240, 248, 255, 0.438);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.current-meals {
  text-align: center;
}

.current-meals > ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#meals-list {
  display: inline-block;
  background-color: rgba(240, 248, 255, 0.438);
  padding: 0px 15px 0px 10px;
  text-align: left;
  border-radius: 10px;
}

.add {
  margin: 5em 20em 2em 20em;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 248, 220, 0.564);
  border-radius: 10px;
}